{% extends "team_management/index.html" %}

{% block css %}
	{% load static %}
	{{ block.super }}
    <link rel="stylesheet" href="{% static 'team_management/GameQueue.css' %}">
{% endblock %}

{% block body %}

<h1 class="title">Current Game</h1>
<div class="game">
	<div id="gameTimer" class="column" style="width:10%">Timer</div>
	{% for participant in participant_list %}
		<div class="column" style="width:{% widthratio 1 participant_list|length 79 %}%">
			<div class="teamName" style="background-color: {{ participant.color }}">{{ participant.team.team_name }}</div>
		</div>
	{% endfor %}
	<div class="column" style="width:10%">
		{% if perms.team_management.judge %}
			<a href="{% url 'gameX' game_id=1 %}">Judging</a>
			<br>
		{% endif %}
		<a href="{% url 'scoreboard' game_id=1 %}">Scoreboard</a>
	</div>
</div>

<!-------------------------------------------------------------->

<h1 class="title">Upcoming Games</h1>
{% for participant_list in upcoming_games_list %}
	<div class="game">
		<div class="column" style="width:10%">6:00</div>
		{% for participant in participant_list %}
			<div class="column" style="width:{% widthratio 1 participant_list|length 79 %}%">
				<div class="teamName" style="background-color: {{ participant.color }}">{{ participant.team.team_name }}</div>
			</div>
			
			{% if forloop.last %}
				<div class="column" style="width:10%">
					{% if perms.team_management.judge %}
						<a href="{% url 'gameX' game_id=participant.game_id %}">Judging</a>
						<br>
					{% endif %}
					<a href="{% url 'scoreboard' game_id=participant.game_id %}">Scoreboard</a>
				</div>
			{% endif %}

		{% endfor %}
	</div>
{% endfor %}


<!--------------------------------------------------------------------------->

<h1 class="title">Completed Games</h1>
{% for participant_list in finished_games_list %}
	<div class="game">
		<div class="column" style="width:10%">0:00</div>
		{% for participant in participant_list %}
			<div class="column" style="width:{% widthratio 1 participant_list|length 79 %}%">
				<div class="teamName" style="background-color: {{ participant.color }}">{{ participant.team.team_name }} <span style="font-weight:bold">{{ participant.score }}</span></div>
			</div>
			
			{% if forloop.last %}
				<div class="column" style="width:10%">
					{% if perms.team_management.judge %}
						<a href="{% url 'gameX' game_id=participant.game_id %}">Judging</a>
						<br>
					{% endif %}
					<a href="{% url 'scoreboard' game_id=participant.game_id %}">Scoreboard</a>
				</div>
			{% endif %}

		{% endfor %}
	</div>
{% endfor %}

{% endblock %}

<script>
{% block script %}

{% endblock %}
</script>