input[type=number] {
	width: 10vw;
	border:none;
	text-align: center;
	font-size: 200%
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

button.up {
	width: 0px;
	height: 0px;
	border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
	border-top: 0px;
	padding: 0px 0px;
	background: transparent;
	margin: 0px 0px 5px 0px;
	position: absolute;
	top: -32px;
}

button.down {
	width: 0px;
	height: 0px;
	border-left: 5vw solid transparent;
	border-right: 5vw solid transparent;
	border-bottom: 0px;
	padding: 0px 0px;
	background: transparent;
	margin: 0px 0px 5px 0px;
	position: absolute;
	top: 24px;
}

.dragon_counters {
	margin: 20px 0px 20px 0px;
}