body{
	font-family:arial;
}

.logo {
	max-height:30vh;
	width:auto;
	display:block;
	margin: 0 auto 5vh auto;
}

.column {
	width:50%;
	float: left;
	text-align:center;
}

.score {
	font-size:7vh;
	font-weight:bold;
	width: 25%;
}

.team {
	display:block;
	width:85%;
	position:absolute;
	left:7.5%; /* centers them inside the 85% width */
	-moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;
	
	text-align:center;
	font-size: 7vh;
	border-radius: .5em;
	padding: 1vh;
	border: 1vh solid black;
	
}

.timer {
	font-size:25vh;
}

.teamName {
	width: 75%;
	float: left;
}